html, body {
    padding:0;
    margin:0;
    width:100%;
    background-color:#23232c;
}

#centerPage{
    width:100%;
    display:flex;
    justify-content: center;
}
#contentDiv{
    width:98%;
    height:100%;
}
#headerDiv{
    position: fixed;
    top: 0px;
    height:200px;
    width:98%;
    z-index: 100;
	background-color:#566166;
	color:white;
}
#commentPostList{
    position:relative;
    top: 200px;
    width:100%;
    background-color:#cbcbd1;
    margin-bottom:500px;
    padding:20px 0;
}
.commentPost{
    display:flex;
    justify-content: space-between;
    margin: 0px 20px 20px 20px;
}
.commentPost .leftCol{
    width:100px;
	background-image: url("img/userIcon.png");
	background-repeat:no-repeat;
	background-position: center 10px;
    background-color:#566166;
}
.commentPost .rightCol{
    width:100%;
}
.commentPost .row1{
    display:flex;
    justify-content:space-between;
    background-color:#d9dbdc;
}
.commentPost .row2{
    display:flex;
    justify-content:flex-start;
    background-color:#fafbfb;
}
.commentPost .row3{
    display:flex;
    justify-content:flex-end;
    background-color:#d9dbdc;
}
#commentFormDiv{
    display:flex;
    justify-content:center;
    position: fixed;
    bottom: 0px;
    height: 100px;
    width:98%;
    background-color:#566166;
}
.hidden{
    display:none;
}